<h1><%= "#{@user.first_name} #{@user.last_name} - #{@user.login}" %> </h1>
<div><%= @user.email %></div>

<h2>Projects</h2>
<% if @projects %>
    <ul>
    <% @projects.each do |project| %>
      <li><%= link_to(project.title, project_path(:id => project.pid)) %></li>
    <% end %>
    </ul>
<% else %>
    <div>Forbidden</div>
<% end %>